@{
    ViewBag.Title = "PayBranch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-container">
    <div class="page-container-wrap">
        @section SeoRender{
            <title> هنداوى : @ViewBag.title </title>
        }
      
        <div id="breadcrumb" style="padding: 12px 10px 8px 10px;" style="padding: 12px 10px 8px 10px;">
            <span></span>@*/@ViewBag.product.MainCategoryId-@ViewBag.MainCategory*@
            <a href="/Home">الصفحة الرئيسية</a><span class="span"></span><a href="/branche/PayBranch">الفروع</a>

        </div>

        <p style="margin: 10px 0px; padding-right:10px;">يمكنك البحث بدلالة المحافظة او المدينة</p>
        <hr />
      

        <div id="branchCtrl" ng-app="BranchApp" ng-controller="branchCtrl">



            <div style="padding-right: 10px;" class="form-group">
              
                    <label for="ddl_Governate" class="col-sm-3 control-label">المحافظات  </label>

                    @*    <select id="ddl_Governate" class="form-control" ng-change="GetGovernateCities()" ng-model="selectedGovernate" ng-options="i.Name for i in Governates"></select>*@
                    <input id="ddl_Governate" ng-model="search.GovernateName" maxlength="255" dir="rtl" type="text" class="form-control">
              
            </div>

            <div class="form-group">
               
             
                    <label for="ddl_Cities" class="col-sm-3 control-label">المدن  </label>
                    @*<select id="ddl_Cities" class="form-control" ng-model="selectedCity" ng-change="SelectCities()" ng-options="i.Name for i in Cities"></select>*@
                    <input id="ddl_Cities" ng-model="search.CityName" maxlength="255" dir="rtl" type="text" class="form-control">

              
            </div>
            <div style="clear:both;"></div>
            <div>

                <div id="items-table" class="table table-bordered table-hover table-condensed table-striped white">

                    <div id="table-header" class="table-row">
                        @*<div class="cell">
                            المسلسل
                        </div>*@
                        <div class="cell name">
                            الاسم
                        </div>
                        <div class="cell">
                            المحافظة
                        </div>
                        <div class="cell">
                            المدينة
                        </div>

                        <div class="cell address">
                            العنوان
                        </div>
                        <div class="cell">
                           الموبايل
                        </div>
                    </div>


                    <div class="table-row" ng-repeat="i in Branchs  | filter:search">
                        @*<div class="cell">
                            {{$index+1}}
                        </div>*@
                        <div class="cell name">
                            {{i.Name}}
                        </div>
                        <div class="cell">
                            <span></span>
                            {{i.GovernateName}}
                        </div>
                        <div class="cell">

                            {{i.CityName}}
                        </div>
                        <div class="cell address">
                            {{i.Address }}
                        </div>
                        <div class="cell">
                            {{i.Mobile }}
                        </div>

                    </div>
     


                </div>
                <div style="clear: both;"></div>
                <br />
               
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Controllers/BranchCtrl.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

         

        angular.element('#branchCtrl').scope().GetAllCities();
        angular.element('#branchCtrl').scope().GetAllGovernates();
        angular.element('#branchCtrl').scope().GetFullBranchs();


       
    });
</script>
