
@font-face
{
font-family: Droid;
src: url(fonts/DroidKufi-Regular.ttf);
}

@font-face
{
font-family:fontawesome;
src: url(fonts/fontawesome-webfont.ttf);
}
body,h1,h2,h3,h4,h5,h6,a,img,p,ul,li,marquee{
	margin:0px;
	padding:0px;
	direction:rtl;
	border:none;
	text-decoration:none;
	list-style:none;
	font-family: Droid !important;
}
body{
	background:#D7D6D8;
}
#header{
height:170px;
background:url(/images/header-bg.jpg) repeat;
    border-top: 5px solid #337ab7;
}
#header-content{
margin-top:0px;
margin-bottom:0px;
}
#header-top{

height:40px;
    background:#337ab7;
    

}
#search {
    float:none;
    margin-top: 10px;
    margin-right: 32%;
    border: 1px solid #337ab7;
    height: 40px;
    width: 57%;
    background:#fff;
}
#search form{
 

}
#search form input{
float:right;
}
#search form input[type="text"]{
background:#fff;
width:65%;
height:38px;
border:none;
color:#444;
line-height:34px;

font-family: Droid;
margin-left:0px;
}
#search form input[type="submit"]{
width:20%;
height:40px;
line-height:34px;
color:#FFFFFF;
background:#337ab7;
border:none;
font-family: Droid;
font-weight:bold;
}
#search form span{
font-family:fontawesome;
color:#337ab7;
float:left;
background:#fff;
height:40px;
width:10%;
text-align:center;
line-height:40px;
}
.center{
width:100%;
margin:2% auto;
clear:both;
}
#header-top form{




}
#login{
float:right;
width:53%;
height:100%;
overflow:hidden;
}
.login-row{
float:right;
padding:0px 1%;

border:1px solid #337ab7;
    margin-left: ;
    
    margin-right: ;
    font-size: 14px;
    margin-top: 2px;
 
   
}
.login-row:first-child {
 
    margin-top: 2px;
}
.fb-like {
    width:22%;
    float:right;
    display: inline;
   
    height: 100%;
    line-height: 40px;
  
}
.fb-like span{
 
    margin-left: 5%;
   
    color: #337ab7 !important;
}
.pluginButtonInline {
    width: 150px !important;
    height: 35px !important;
}
.login-row span{
font-family:fontawesome !important;
color:#337ab7;
float:right;
margin-left:10px;
font-size:24px;
    width: 30px;
    height: 30px;
    background: #ffffff;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;

}
.login-row a {
   
     color: #fff !important;




}
.login-row h3{
color:#ffffff;
float:right;
font-size:14px;

}
#logo{
width:15%;
margin:14px 2% 14px auto;
    float: right;
}
#logo img {
    width: 100%;
}
#drop{

height:50px;
background:#005aab;
display:none;
width:95%;
margin:2% auto;
border-radius:10px;
color:#FFFFFF;
text-align:center;
line-height:50px;
}
#wrap{
width:80%;
background:#ffffff;
border-right:1px solid #CCCCCC;
border-left:1px solid #CCCCCC;
margin:auto;
padding-top:2%;
overflow:hidden;


}
#top-header{
margin:0px 2% 2%;
}
#nav{
background:#f5f0e3;
height:55px;
border-top:5px solid #337ab7;
border-bottom:5px solid #d8d1bd;
    clear: both;
    position: relative;

}
#nav ul{

margin:0 0% 0% 2%;
height:55px;




}
#nav ul li{
float:right;
width:12%;



text-align:center;
font-size:100%;
height:100%;

line-height:45px;

    position: relative;
    
}
#marks{
    background:;
    
}
#marks a{
border-left:;
}
#marks ul li {
     background:#337ab7 !important;
    border-bottom: 1px solid #184770 !important;
}
#marks ul li:hover {
     background: #184770 !important;
  
}
#marks a:hover {
    color:#222 !important;
}
#marks ul li a {
    color: #fff !important;

}
#nav ul li:nth-child(2) a{
    color:;
}
#header #header-left {
    float: left;
    width: 50%;
    
}
#header #header-left #follow {
    float: none;
    margin: 15px 32% 10px auto;
}

#header #header-left #follow li {
    float: right;
}
#header #header-left ul {
    width: 100%;
      margin-top: 0px;
    margin-right: ;
}
#nav ul li ul {
  
    position: absolute;
    z-index: 2000;
    display: none;
    right: 0px;
  
    width: 200px;
    padding-top: 10px;
 
    
}

#nav ul li ul li{
    float: none;
    background:#f5f0e3;
    position: relative;
    border: none;
    box-shadow:inset 0px 0px 0px #000;
    width: 100%;
    border-radius:0px;
    margin: 0px auto;
      text-align: right;
    border-bottom: 1px solid #888;
   
}

#nav ul li ul li:hover {
    background: #3b336d;
}
#nav ul li ul li:first-child:hover {
      background: #3b336d;

}
#nav ul li ul li a{
    float: none;
    background: #c28118;
    position: relative;
    display: block;
  
    font-size: 14px !important;
    padding-right: 10px;
    color: #444;
    margin-top: 0px;
    border-left: none;
    
}
#nav ul li ul li ul li a {
    color: #fff;
    
}
#nav ul li ul li a:hover {
    color: #fff !important;
 
}

#nav ul li ul li a:first-child{
 
    background: none;
    color: #3b336d;

}
#nav ul li ul li:first-child {
        float: none;
    background:#f5f0e3;
   border-bottom: 1px solid #888;
      border-right: none;
  border-left: none;
    width: 100%;
    border-radius:0px;
    margin: 0px auto;
    font-family: droid !important;
    padding: 0px;
    
}

#nav ul li ul li:first-child a{

    font-family: droid !important;
    text-shadow: none;

    
}
#nav ul li ul li ul{
    position: absolute;
    top: 0px;
    right: 100%;
    background: #3b336d;
    display: none;
    
}
#nav ul li ul li ul li{
  
  
    background: #3b336d;
    border-bottom: none;
    
}
#nav ul li ul li ul li a{
  
  
    background: #3b336d;
    
}
#nav ul li ul li ul li:first-child{
  
    border-bottom: none;
    background: #3b336d;
    
}

#nav ul li ul li ul li a{
   
  
    
}
#nav ul li:hover{


}
/*#nav ul li:first-child{
background:none;
border-radius:0px;
border:none;
box-shadow:inset 0px 0px 0px #000;
-webkit-box-shadow:inset 0px 0px 0px #000;
-moz-box-shadow:inset 0px 0px 0px #000;
width:40px;
padding-left:13px;


}*/
#nav ul li:first-child{
    background: #337ab7;

border-radius:0px;
border-right:2px solid #685fa3;
border-left:2px solid #685fa3;
border-top:none;
border-bottom:none;
box-shadow:inset 0px 0px 0px #000;
-webkit-box-shadow:inset 0px 0px 0px #000;
-moz-box-shadow:inset 0px 0px 0px #000;
margin-top:0px;
height:100%;
line-height:45px;

width:218px;
padding-left:15px;
padding-right:15px;

}
#nav ul li:first-child a{
font-family:fontawesome !important;
font-size:45px;
text-shadow:1px 1px 0px #222;
-webkit-text-shadow:1px 0px 1px #222;
-moz-text-shadow:1px 1px 0px #222;
color:#fff;
    border-left: none;
}

#nav ul li a{
color:#3b336d;
    display: block;
    border-left: 1px solid #3b336d;
    margin-top: 5px;

}
#nav ul li:last-child a {
    border-left: none;
}
#nav ul li a:hover {
    color: orange;
}

#more-menu {
    background: #0573ac;
    clear: both;
  
  

   
 
 
   
 
}
#more-menu-slide {
      display: none;
         position: absolute;
   
    width:98%;
 
  
    padding-right: 2%;
  
 
}
#main-menu {
    position: relative;
     width: 17.7%;
    float: right;
    height: 340px;
    background: #eeebbb;
      z-index: 3000;
}
#more-menu h3 {
    font-weight: normal;
    height: 55px;
    line-height: 55px;
     width: 150px;
    color: #fff;
    padding-right: 10px;
 
    
}
#more-menu span {
    color: #444;
    margin-right: 10px;
    font-family: fontawesome;
    font-size: 10px;
}
.more-menu{
    position: relative;
  
   
  

    line-height: 56px;
    border-bottom: 1px solid #888;
    display: block;

           background: #f5f0e3;
    color: #444;
        height: 56px;
   
    border-bottom: 1px solid #444;
    line-height: 56px;
    cursor: pointer;

}
.more-menu a {
     color: #222;
}
#sub-more-menu {
     z-index: 2000;
    width: 150px;
    position: absolute;
    right: 100%;
    top: 0px;
    display: none;
   
    
}
.sub-more-menu {
    
    line-height: 56px;
    border-bottom: 1px solid #888;
    display: block;

           background: #f5f0e3;
    color: #444;
        height: 56px;
   
    border-bottom: 1px solid #444;
    line-height: 56px;
    cursor: pointer;

}
.sub-more-menu:hover,.more-menu:hover,ul#css3menu1 li:hover {
    background: #ddd9cd;
    
}
ul#css3menu1 > li:hover > a{
    animation: right 1s;
      -webkit-animation:  right 1s;
    
}
@keyframes right{
    from{ margin-right: 20px;}
     to{ margin-right: 30px;}
    }
@-webkit-keyframes right{
    from{ margin-right: 20px;}
     to{ margin-right: 30px;}
    }
.sub-more-menu a {
       color: #222;
}

.box5{
float:right;
width:17.8%;
height:280px;

margin:2% 1.8% 2% 0%;
color:#FFFFFF;
position: relative;




}
.box5-details{

margin:0px 2px;
height:200px;
overflow: hidden;
}
.box5-details p{
color:#337ab7;
font-size:14px;
margin:5px;
text-align:center;
    padding-right: 10px;
}
.box5 h3{
font-size:12px;
height:33px;
display:inline-block;
width:90%;
overflow:hidden;
line-height: 35px;
padding-right:5px !important;
margin-right:5px !important;
color:#337ab7;


}
.box5-details img{
height:175px;
width:100%;
margin:10px 0% 0px 0%;
 
}
.box5-details img:hover {
  animation: scale 1s;
   animation-fill-mode:forwards;
   -webkit-animation: scale 1s;
    -webkit-animation-fill-mode:forwards;
}
@keyframes scale {
   from{ transform: scale(1);}
   to{transform: scale(1.5);}
}
@-webkit-keyframes scale {
   from{ transform: scale(1);}
   to{transform: scale(1.5);}
}
.bar span{
    background: #f8b500;
    height: 35px;
    width: 50px;
    float: left;
    color: #fff;
    font-family: fontawesome;
    font-size: 24px;
    text-align: center;
    line-height: 35px;
    }

.bar {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}
.bar h4 {
    margin-right: 5px;
    float: right;
    text-align: right;
    background: #337ab7;
    width: 95%;
    padding: 10px 0px;
    padding-right: 2%;
    font-size: 12px;
    
}
.box4{
float:right;
width:7.5%;
margin:1% 1.5% 1% 1%;
}

.box4 img{
height:160px;
width:100%;
margin:0%;
}
.box4 h3{
color:#337ab7;
font-size:12px;
margin-top:10px;
    height: 30px;
  

}
.box4 p{
color:orangered;
margin:0px 0px;
    height: 40px;
    font-size: 12px;
}
/*.box4 a{
color:#fff;
width:90px;
height:35px;
text-align:center;
line-height:35px;
border-radius:50px;
display:block;
margin-top:20px;
border:1px solid #3b336d;

    background: #fff;
    color:#3b336d ;


}*/
.image-container{
width:100%;
margin:auto;
background:#fff;
height:165px;
}
#boxs{
overflow:hidden;
width:100%;
height:370px;
background:#337ab7;
background-size:100% 100%;
margin:0px auto;
    border-top: 5px solid #dddddd;
}
.box3{
float:right;
width:31.1%;
min-height:260px;
background:#ffffff;
margin:70px 1.6% 2% 0%;
border-radius:10px;
box-shadow:0px 5px 0px #423a73;
text-align:right;
}
.box3 ul li span{
font-family:fontawesome;
margin-left:10px;
font-size:18px;
float:right;
color:#337ab7;
line-height:30px;
}
.box3 ul li{
overflow:hidden;
margin:10px 20px 10px 20px;
padding-bottom:10px;
border-bottom:1px dotted #337ab7;

}
.box3 ul li:last-child{
border-bottom:none;
}
.box3 ul li p{
color:#337ab7;

}
.box3 > p{
margin:0px 20px;
}
.box3 > p span{
font-family:fontawesome;
margin-left:10px;
font-size:18px;
color:#337ab7;
}
.box3 form {
position:relative;
}
.box3 form span{
font-family:fontawesome;
font-size:24px;
color:#337ab7;
position:absolute;
left:25px;
top:15px;
}

.box3 h3{
width:215px;
height:70px;
background:url(/images/box-title.png) no-repeat;
margin:-17px auto 0px auto;
text-align:center;
line-height:60px;
color:#5f3e03;
text-shadow:1px 1px #fff;
}
.box3 input[type="text"]{
width:90%;
margin:10px 5%;
border:1px solid #cccccc;
height:35px;

}
.box3 input[type="submit"]{
width:90%;
margin:10px 5%;
border:1px solid #cccccc;
height:40px;
background:#337ab7;
color:#FFFFFF;
font-family:droid;
}
.box2{
float:right;
width:47.5%;
min-height:200px;
background:#ffffff;
margin:2% 1.6% 2% 0%;
background-color:#dedede;
}
.box1{
width:97%;
min-height:200px;
margin:0% auto;
}
#slideshow{
background:#96b5d0;
width:100%;
height:340px;
margin-top:0px !important;


}
#slideshow-content{
background:url(/images/laptop.png)  10% 70px no-repeat;
width:100%;
height:340px;
padding-bottom:100px;
float:right;
    position: relative;


}
#slideshow-content img{
float:right;
width:30%;
}
.slideshow-images {
   position:absolute;
left:11.3%;
bottom:15px;
width:384px;
height:237px;
    
}
#slideshow-content ul{
height:100%;
width:100%;
position:relative;
}
#slideshow-content ul li{
height:100%;
width:100%;
position:absolute;
right:0px;
top:0px;
}
#slideshow-content ul li img{


width:100%;
height:237px;
}
#slideshow-content ul li h3{
position:absolute;
right:3.2%;
top:50px;
color:#FFFFFF;
font-size:25px;

height:120px;


padding-right:20px;
line-height:50px;
   
    font-weight: bold;
   
    overflow: hidden;
    
}
#slideshow-content ul li p{
position:absolute;
right:3.3%;
top:110px;
color:#FFFFFF;
font-size:16px;
width:50%;
font-weight: bold;
padding-right:20px;
    height: 100px;
    overflow: hidden;
   
}
#slideshow-content ul li .more{
position:absolute;
right:5%;
top:270px;
font-size:14px;
width:110px;
height:40px;
text-align:center;
line-height:40px;
border:1px solid #337ab7;
font-weight:bold;
background: #fceabb; /* Old browsers */
background: -moz-linear-gradient(top, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(50%,#fccd4d), color-stop(51%,#f8b500), color-stop(100%,#fbdf93)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* IE10+ */
background: linear-gradient(to bottom, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
border-radius:40px;
color:#67531b;
text-shadow:1px 1px #fff;
box-shadow:inset 0px 3px 0px #fff;
}
#slideshow-content ul li .more:hover{
background: #ffb76b; /* Old browsers */
background: -moz-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb76b), color-stop(50%,#ffa73d), color-stop(51%,#ff7c00), color-stop(100%,#ff7f04)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 ); /* IE6-9 */
color:#FFFFFF;
text-shadow:0px 0px #fff;
}
#slideshow-content ul li span{
position:absolute;
right:5%;
top:200px;
color:#F9B039;
font-size:14px;
width:30%;
font-weight: bold;
}
#slideshow-content ul li .prise {
   right:10.5%; 
}
#slideshow #right{
height:100%;
width:50%;
float:right;
}
#slideshow #left{
height:100%;
width:50%;
float:right;

}
#company{
background:#d7d6d8 url(/images/man .png) right no-repeat;
border-radius:0px;
width:100%;
height:326px;
margin:0px auto;
    overflow: hidden;
    position: relative;
    display: none;
}
#company .box1{
background:none;
}
#company-content{
width:50%;
    padding-right:  550px;

padding-top:40px;
float: right;
   
    word-wrap: break-word;
}
#company-content h3 {
    margin-bottom: 10px;
}
#company img {
    width: 545px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    
}
#company-content a{
width:100px;
height:35px;
color:#ffffff;
line-height:35px;
background:#337ab7;
display:block;
border-radius:50px;
text-align:center;
margin-top:20px;
}

#slider{
overflow:hidden;
width:100%;
background:;
margin-top:0px;
margin-bottom:0px;
padding:20px 0px;
position:relative;
height:300px;
}
#slider ul{
animation:list 30s;
-webkit-animation:list 30s;
position:absolute;
    -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
    animation-timing-function: linear;
 animation-iteration-count:infinite;
 animation-direction: alternate;
   animation-fill-mode: forwards;

      -webkit-animation-timing-function: linear;
 -webkit-animation-iteration-count:infinite;
 -webkit-animation-direction: alternate;
   -webkit-animation-fill-mode: forwards;
   right:-100%;
   overflow:hidden;
   width:200%;
}
#slider ul:hover{

 animation-play-state: paused;
-webkit-animation-play-state: paused;
 
}
#slider .box4 {
    position: relative;
}
#slider .box4 .percent {
position: absolute;
top: -5%;
right: 5%;
background:orange;
display: block;
width: 50px;
height: 40px;
text-align: center;
line-height: 40px;
color: #fff;
z-index: 10;

    
}
@keyframes list{
from{right:-100%;}
to{right:0%;}
}
@-webkit-keyframes list{
from{right:-100%;}
to{right:0%;}
}
#follow{

margin:25px auto 0px auto;
    float: right;
}
#follow-bg{
height:30px;
margin:0px auto;
}
#follow ul {

    overflow: hidden;
    margin-top: 30px;
   
}	
#follow ul li{
width:45px;
height:35px;
border:2px solid #337ab7;
float:right;
margin-left:10px;

text-align:center;

}
#follow ul li:hover {
    background: #337ab7;
    
}
#follow ul li:hover > a{
   color: #fff;
    
}
#follow ul li a{
font-family:fontawesome !important;
font-size:24px;
line-height:35px;
color:#337ab7;
}

#footer{

width:100%;
margin:0px auto;
background:#fff;
    border-top:  5px solid #337ab7;
}
#footer-content{

width:80%;
margin:20px auto 0px auto;
text-align:center;

}
#footer-content h3{
  color: #337ab7;
  padding: 10px 0px 10px 20px;
  border: 1px solid #cccccc;
  margin: 20px 0px 20px 0px;
  width: 90%;
  font-weight: normal;
  border-radius: 40px;
  text-align: center;



}

#footer-content ul{

overflow:hidden;

margin:20px 2% 20px 4%;
    width: 100%;
    margin: 0px auto;

}
#footer-content ul li{
float:right;
       list-style:disc !important;
    list-style-type: disc !important;
    color: orangered !important;
padding-bottom:10px;

    display: block;
    padding:10px 10px;
    height: 20px;
    line-height: 20px;
    width: 100%;


text-align:right;
}
#footer-content ul li:last-child {
    border-left: none;
}
#footer-content ul li:last-child{
border-bottom:none;
}
#footer-content ul li a{
color:#423a73 !important;
font-size:14px;
}
#copyright{
text-align:center;
padding:10px 0px;
font-size:12px;
background:#FFFFFF;
    width: 80%;
    margin: 10px auto;
    border-top: 1px solid #3b336d;
}
/* tabs */
.wrapper{
width:1000px;
margin:auto;
float:right;


}
#cross-links {
    display: none;
}

#new-products-title{


width:100%;

    padding: 20px .3%;
    line-height: 20px;
    color: #337ab7;
    clear: both;
    background: #f5f0e3;
    border-top: 5px solid #337ab7;
    border-bottom: 1px solid #337ab7;
   
   
    
}		
#slider1{
direction:ltr;
position:relative;

}
		
#stripNav0{
width:80% !important;
margin:0px auto;
direction:rtl !important;
text-align:right;
position:relative;
    padding-right: 21%;
}

		.stripViewer { /* This is the viewing window */
			position: relative;
			overflow: hidden; 
		
			margin: auto;
			width: 1000px; /* Also specified in  .stripViewer .panelContainer .panel  below */
			height: 720px;
			clear: both;
			background: #fff;
            background:#fff url(/images/shopping-card.png) center bottom no-repeat !important;
		    background-size: contain;
           
		  
            

		}
		
		.stripViewer .panelContainer { /* This is the big long container used to house your end-to-end divs. Width is calculated and specified by the JS  */
			position: relative;
		
		
			margin:auto;
			list-style-type: none;
			/* -moz-user-select: none; // This breaks CSS validation but stops accidental (and intentional - beware) panel highlighting in Firefox. Some people might find this useful, crazy fools. */
		}
		
		.stripViewer .panelContainer .panel { /* Each panel is arranged end-to-end */
			float:right;
			height: 100%;
			position: relative;
			width: 100%; /* Also specified in  .stripViewer  above */
			
		}

		
		.stripNav { /* This is the div to hold your nav (the UL generated at run time) */
			margin:0px 300px 0px 0px;
		    float: right;
            
		}
		
		.stripNav ul { /* The auto-generated set of links */
			list-style: none;
		}
		
		.stripNav ul li {
			float: right;
            margin-bottom: 30px;
			margin-right: 0px; /* If you change this, be sure to adjust the initial value of navWidth in coda-slider.1.1.1.js */\
		    
		}
		.stripNav ul li:first-child a{
		border-top-right-radius:10px;
	
		}
		.stripNav ul li:last-child a{
		border-top-left-radius:10px;
	
		}
		.stripNav a { /* The nav links */
			font-size: 14px;
			font-weight: bold;
			text-align: center;
			line-height: 55px;
			background: #c6e3ff;
			color: #337ab7;
			text-decoration: none;
			display: block;
			padding: 0 15px;
			width:110px;
			height:55px;
			text-shadow:1px 1px #fff;
			border-left:1px solid #337ab7;
			border-bottom:5px solid #337ab7;
			border-top:1px solid #bbb;
		
		}
		
		.stripNav li a {
		background: #d7d6d8; /* Old browsers */
background: -moz-linear-gradient(top, #d7d6d8 0%, #d7d6d8 50%, #c4c4c6 50%, #c4c4c6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d7d6d8), color-stop(50%,#d7d6d8), color-stop(50%,#c4c4c6), color-stop(100%,#c4c4c6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #d7d6d8 0%,#d7d6d8 50%,#c4c4c6 50%,#c4c4c6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #d7d6d8 0%,#d7d6d8 50%,#c4c4c6 50%,#c4c4c6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #d7d6d8 0%,#d7d6d8 50%,#c4c4c6 50%,#c4c4c6 100%); /* IE10+ */
background: linear-gradient(to bottom, #d7d6d8 0%,#d7d6d8 50%,#c4c4c6 50%,#c4c4c6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7d6d8', endColorstr='#c4c4c6',GradientType=0 ); /* IE6-9 */
		 }

		.stripNav li a:hover {
			background: #f9c539;
			text-shadow:0px 0px #fff;
			
		}
		
		.stripNav li a.current {
			background: #337ab7;
			color: #fff;
			text-shadow:0px 0px #fff;
		}
		
		.stripNavL, .stripNavR { /* The left and right arrows */
			position: absolute;
			top: 440px;
			text-indent: -9000em;
		    display: none;
		}
		
		.stripNavL a, .stripNavR a {
			display: block;
			height: 40px;
			width: 40px;
		}
		

		.stripNavL {
			left: 100px;
		}
		
		.stripNavR {
			right: 100px;
		}
		
		.stripNavL {
			background: url("/images/arrow-left.gif") no-repeat center;
		}
		
		.stripNavR {
			background: url("/images/arrow-right.gif") no-repeat center;
		}


/*slideshow*/
        #slideshow-images
{
	margin:5px auto;
	overflow:hidden;
	width:710px;
}
#slideshow-images #prev
{
margin: 55px 15px 55px 12px;
float: right;
cursor: pointer;
}
#slideshow-images #next
{
	margin: 55px 18px 55px 15px;
	float: right;
	cursor: pointer;
}

#slideshow-images ul,li,a{
	margin:0px;
	padding:0px;
	list-style:none;
}
#slideshow-images #slide-image{
height:105px;
margin:auto;
position:relative;
overflow:hidden;
float:right;
width:610px;
 


}
#slideshow-images #slide-image ul li img{
width:102px;
height:78px;
position:absolute;
padding:5px;
border:1px solid #dddddd;
right:0px;
top:0px;
margin:0px 5px;

}
#slideshow-images #slide-image ul{
position:absolute;
right:0px;
float:right;


}
#slideshow-images #slide-image ul li{
position:relative;
width:122px;
height:88px;
float:right;
margin:10px 0px 10px 0px;

}
#slide-image li .percent{
    position: absolute;
        top: 0%;
    right: 0%;
    background:#e65241;
    display: block;
    width: 50px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
 
    z-index: 10;
    border-bottom:3px solid #444;
  
 
    
}
#slideshow-images #slide-image ul li:last-child{
margin-left:10px;
}
#slideshow-images #slide-image ul li:first-child{
margin-right:3px;
}
#check {
    position: absolute;
    bottom: 140px;
    right: 40%;

}
#check  .circle {
    float: right;
    background:orange;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-left: 3px;
    box-shadow: inset 1px 1px 1px #000;
    cursor: pointer;
}
.right {
       position: absolute;
    right: -25%;
    bottom: 100px;
    color: #3b336d;
    text-align: center;
   font-size: 50px;
   font-family:fontawesome !important;
 
}
.left {
    position: absolute;
    left: -25%;
    bottom: 100px;
    color: #3b336d;
    text-align: center;
   font-size: 50px;
   font-family:fontawesome !important;
  
}
.page-container {
    border-top:5px solid #337ab7;
    
}
.page-container-wrap {
    width: 100%;
    margin: 0px auto;
    float: right;
      

}

#breadcrumb {
    display: block;
    background:#337ab7;
   
}
#breadcrumb span {
     font-family:fontawesome;
    color: #fff;
}
#breadcrumb a{
    color: #fff;
}
.page-right {
    float: right;
    width: 50%;
    font-family: droid;
    margin-bottom:10px;
 
}
.page-right #add {
    width:32%;
    height: 35px;
    line-height: 35px;
    background: #e65241;
    color: #fff;
    text-align: center;
    display: block;
    clear: both;
  
   
    
    margin-top: 20px;
    font-weight: bold;
}
.data {
    width: 100%;
    display: block;
    padding: 10px 0px;
    border-bottom: 1px dotted #dddd dd;
    overflow:hidden;

}
.data li{
    margin-top:10px;
}

.data h3 {
    font-size: 16px;
    color: #337ab7;
    margin-bottom: 20px;
    margin-bottom:0px;
}
.databox {
    
    display: inline !important;
   
    width: ;

  
}
.databox span {
    padding: 5px;
}
.databox h3 {
   
    
    padding: 5px;
    font-size: 14px;
    font-weight: normal;
    border:1px solid #ddd;
    width:30%;
    margin-bottom:10px;
}
.rating {
    margin: 0px 0px;
    
}
.data span{
font-family:fontawesome;
font-size:20px;
color:orangered;
    display: inline;
    float: right;
    margin: 5px 2px;
}
.span {
    margin: 0px 5px;
    color: #fccd4d !important;
    color: #fccd4d;
}
/*page-slider*/
#page-slider-container {
    background:;
    overflow: hidden;
    padding: 0px 0px;
    margin-bottom: 20px;
}
#page-slider
{
	margin:5px auto;

	width:80%;
    position: relative;
  
   
  
   
}
#page-slider #prev
{
cursor: pointer;
    position: absolute;
    left: -8%;
    z-index: 5;
    top: 100px;
    color: #e65241;
    font-size: 48px;
       font-family:fontawesome;
}
#page-slider #next
{
cursor: pointer;
    position: absolute;
    right: -8%;
    z-index: 5;
    top: 100px;
    color: #e65241;
    font-size: 48px;
       font-family:fontawesome;
}

#page-slider ul,li,a{
	margin:0px;
	padding:0px;
	list-style:none;
}
#page-slider #slide-image{
 height: 300px;
margin:auto;
position:relative;
overflow:hidden;
float:right;
width:100%;
    padding: 25px 0px;

}
#page-slider #slide-image ul li img{
width:100%;
height:200px;
position:absolute;
padding:1%;
border:1px solid #dddddd;
right:0px;
top:0px;
margin:0px 0px;
   background: #fff;
}
#page-slider #slide-image ul{
position:absolute;
right:0px;
float:right;
 


   


}

#page-slider #slide-image ul li{
position:relative;
width:12.5%;
height:300px;
float:right;
margin:10px 0px 10px 1%;
 

}
#page-slider #slide-image ul li:hover {
      animation: margin .5s ;
animation-fill-mode:forwards;
   animation-timing-function: linear;
    -webkit-animation: margin .5s ;
 -webkit-animation-fill-mode:forwards;
    -webkit-animation-timing-function: linear;
}
@keyframes margin{
      from{ margin-top: 10px;}
   to{ margin-top: 30px;}
    
    }
@-webkit-keyframes margin{
      from{ margin-top: 10px;}
   to{ margin-top: 30px;}
    
    }
#slide-image ul li h3 {
    font-size: 12px;
    font-weight: normal;
    color: #337ab7;
    margin-top: 230px;
    margin-bottom: 10px;
}
#slide-image ul li p {
  
   
    color: orangered;
    font-size: 12px;
}
#slide-image ul li span {
    position: absolute;
    top: 270px;
}
#page-slider #slide-image ul li:last-child{
margin-left:0px;
}
#page-slider #slide-image ul li:first-child{
margin-right:0px;
}
#product-details {
    clear: both;
    margin-top:10px;
}
#product-details h3 {
    background:#337ab7;
    color: #fff;
    font-family: droid;
    padding: 0px 10px 10px 10px;
 
    border-bottom: 1px solid #dedede;
    margin-top:0px;
        
}
.btn {
   
}
.product-details {
    clear: both;
  

}
#product-details .title {
    display: inline;
    background: #337ab7;
    color: #fff;
     font-family: droid;
  
    float: right;
    cursor: pointer;
    width: 24.2%;
    padding: 0px 5px;
    text-shadow: none;
    border-top: none;
    margin: 0px;
   border-bottom: none; 
   line-height:50px;
   text-align:center;
   height:50px;
  
     
 
}
.form-group{
    margin-right:20px;
}
.product-details {
    padding:0px;
    margin: 0px 0px 20px 0px;
    border: #ddd;
  font-family: droid;
    border: 1px solid #ddd;
    min-height: 300px;
    border-bottom: 1px solid #ddd;
    width: 99.8%;
 
}
.product-details p {
    margin: 10px;
}
#product-details .title:nth-child(3) {
    background: slateblue;
}
.product-details {
    
}
.product-details input[type="text"] {
    width: 300px;
    height: 35px;
    font-family: droid;
    margin: 10px 0px;
   
    
}
.product-details  textarea {
    width: 400px;
    height: 150px;
    margin: 10px 0px;
     font-family: droid;
}
.product-details button {
    width: 405px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    background: #e65241;
    font-family: droid;
    font-weight: bold;
    margin-bottom: 15px;
    border:none;
    
}
#content3  ul {
    width: 100%;
    margin: 30px 2% 0px 0px;
}
#content3 li{
    float: right;
    margin:20px 0px 20px 2%;
    width: 45%;
}
#content3 li img {
    width: 30%;
    border: 1px solid #dedede;
    height: 200px;
}
#content3 li h3 {
    color: #fff;
    font-weight: normal;
}
.comment {
    display: block;
}

.comment-block {
    margin: 30px 0px;
}
.comment-block #name {
    color: orangered;
    
}
.comment-block #name span{
    color: cadetblue;
    margin-right: 10px;
    font-size: 12px;
    
}
.comment-block #reply {
    margin-right: 50px;
    color: #888;
    padding-top: 10px;
       padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px dotted #9370db;
    width: 50%;
    margin-top: 10px;
    background: #fff;
    
}
/**Categories-style**/
.Categories-style {
   
  
    width: 100%;
    font-family: droid;
}
.Categories-title-style {
    width: 100%;
    height: 50px;
    background: #dedede;
     border-bottom: 2px solid #888;
}
.Categories-title-style img {
    width: 30px;
    display: inline;
    height: 30px;
    border-radius: 30px;
    margin: 7px;
    float: right;
    
}
.Categories-title-style a {
    display: inline;
    font-weight: bold;
    font-size: 14px;
    color: #3b336d;
    height: 30px;
    line-height: 43px;
    
    
}
.Categories-style ul li img {
  height: 200px;
    width: 100%;
    display: block;
  
 
  
}
.Categories-style ul li img:hover{
        animation: scale 1s;
   animation-fill-mode:forwards;
   -webkit-animation: scale 1s;
    -webkit-animation-fill-mode:forwards;

}
.Categories-style ul li .prise {
    direction: rtl;
    padding-top: 10px;
}
.Categories-style ul li .prise span {
    margin-right: 5px;
    color: #228b22;
}
.img-container {
    position: relative;
    
}
.Categories-style ul li .percent {
position: absolute;
top: -5%;
right: 0%;
background:orange;
display: block;
width: 40px;
height: 40px;
text-align: center;
line-height: 40px;
color: #fff;
border-radius: 40px;
z-index: 10;
border: 3px solid #fff;
box-shadow: 1px 1px #888;
    font-size: 14px;

    
}
.Categories-style ul li p {
    display: inline;
       margin-top: 20px;
    color: #222222;
    
}
.Categories-style ul {
    overflow: hidden;
}
.Categories-style ul li {
    float: right;
    margin: 30px 1% 30px 4%;
    width: 20%;
    overflow:hidden;
    height:200px;
    border:1px solid #ddd;
  
    
}
.Categories-style ul li h3 {
    font-weight: normal;
    height: 50px;
   
    overflow: hidden;
}
.Categories-style ul li a{
    color: orangered;
    font-size: 18px;
    margin: 10px 0px;
    display: block;
    
}
.multi-categories {
    width: 100%;
    height: 60px;
    border-bottom: 1px dotted #dedede;
    background: #fff;
    
}
.multi-categories img {
    width: 30px;
    height: 30px;
    float: right;
    border-radius: 30px;
    margin: 1%;
}
.multi-categories a {
    color: #3b336d;
    line-height: 50px;
    display: block;
    height: 30px;
    
}
#about {
    font-family: droid;
     min-height: 1000px;
    padding-bottom: 50px;
    width: 100%;
    float: right;
    
    
}
#about img{
    width: 50%;
    margin: 30px 24% 30px 24%;
    padding: 1%;
    border: 1px solid #dedede;
    
}
#about h3{
    padding: 10px;
    border-bottom: 2px solid #3b336d;
    background: #dedede;
    font-weight: normal;
    
}
#about .p{
    width: 80%;
    margin: 0px 10%;#slideshow-content ul li p

    
}
#offer-details {
        font-family: droid;
    border-bottom: 2px solid #3b336d;
    padding-bottom: 50px;
}
#offer-details img{
    width: 50%;
    margin: 30px 24% 30px 24%;
    padding: 1%;
    border: 1px solid #dedede;
    
}
#offer-details h3{
    padding: 10px;
    border-bottom: 2px solid #3b336d;
    background: #dedede;
    font-weight: normal;
    
}
#offer-details .p{
    width: 80%;
    margin: 0px 10%;
    
}
#offer-details .prise {
    color: #ff4500;
}
/*tabs-slider*/
.content{


 margin-top:10px;
    overflow: hidden;


 
 width:100%;
 }
 .title{
			font-size: 14px;
			font-weight: bold;
			text-align: right;
			line-height: 55px;
			
			
			text-decoration: none;
			display: block;
		
			height:40px;
     padding-top: 17px;
		
			
			border-bottom:1px solid #337ab7;
			
                
        
            margin-right: ;
            margin-left: 0px !important;
            width: 100%;

 }
 .box:last-child .title {
    
     border-top-left-radius: 10px;
     border-left: none;

 }
  .box:nth-child(2) .title {
    
     border-top-right-radius: 10px;
     

 }

   .box:last-child .title a {


 }
   .box:nth-child(2) .title a{
    


 }
  .title a {

		
     display: block;
     color: #444 !important;
     margin-left: 0px !important;
     width: 120px;
     height: 40px;
    
     border-radius: 30px;
     text-align: right;
     line-height: 20px;
     padding-right:2%;
    
    
 
    
 }

  		.title a:hover {
			
			
		}
		
		.title a.current {
			background: #337ab7;
			color: #fff;
			text-shadow:0px 0px #fff;
		}


 .box{


 width:100%;

 }
 #tabs{
 position:relative;
 width:100%;
 margin:auto;
     height: 100%;
 
 }
 #tabs-container{
width:80%;
overflow:hidden;
height:950px;
 margin:auto;
 
}
#tabs-container .content p {
margin:10px;

}
.register h1 {
  width: 100%;
    text-align: right;
    background: #337ab7;
    color: #fff;
    padding-right: 5%;
    border-bottom: 5px solid #e1a138;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
}
.register fieldset {
    margin:20px 10% 30px 5%;

}
#loginForm{
    float:right;
    width:50%;
}
#facebook-bottom{
    background:#0573ac;
    display:block;
    color:#fff;
    width:50%;
    height:40px;
    border:none;
    margin:20px 0% 20px 50%;
}
#socialLoginForm{
    float:right;
    display:block;
    width:50%;
}
.register h2 {
    font-weight: bold;
    font-size: 16px;
    color: #337ab7;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px dotted #423a73;
    margin: 0px 0%;
    padding-right: 5%;
}
.register {
       font-family: droid;
    float: right;
    width: 100%;
}
.register .row {
    display: block;
    margin: 5px 10px;
}
.register .row label {
    width: 200px;
    display: block;
    margin-bottom: 0px;
    font-size: 14px;
}
.register .row .checkbox {
    width: 200px;
    display: inline;
    
}
.register .row input[type="text"] {
    width: 30%;
    height: 35px;
    
}
.register .row input[type="password"] {
    width: 30%;
    height: 35px;
    
}
.register .row input[type="submit"] {
    width: 30% !important;
    height: 40px;
    background: #337ab7;
    color: #fff;
    border: none;
    font-family: droid;
    border: 1px solid #337ab7;
    line-height: 35px;
    margin: 10px 3%;
}
.facebook {
    width: 30%;
    margin: 20px 1%;
    
    height: 35px;
}
#items-table {
    width: 100%;
    margin: 20px auto;
}
.register .form-control {
    width: 20%;
    margin: 1%;
    height: 35px;
    font-family: droid;
}
#table-header {
   
    display: block;
    overflow: hidden;
    
}
.cell {
    float: right;
    border: 1px solid #dedede;
    width: 15%;
    height: 35px;
    text-align: center;
    margin-right: 1px;
    background: #fff;
    
}
#table-header .cell {
    background: #337ab7 !important;
    color: #ffffff;
    
}
.table-row {
    width: 100%;
    display: block;
    overflow: hidden;
   
}
#items-table .delete {
    text-align: center;
    width: 15%;
      margin: 2px;
    float: right;
     height: 37px;
}
#items-table .delete button{
  
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
  width:100%;
  height:100%;
  border-radius:0px;
  box-shadow:none;
  border:none;



}
#items-table .delete button:hover {
    background: #dc143c;
}
.end-row {
    width: 20%;
    float: right;
    overflow: hidden;
    border: 1px solid #dedede;
    margin-left: 5px;
    margin-top: 20px;
}
.end-row span:first-child {
    float: right;
    color: #fff;
    background: mediumvioletred;
    padding: 0px 10px;
    
}
.end-row span:last-child {
    float: right;
    text-align: center;
    padding-right: 5px;
}
.finish {
    width: 150px;
    margin-right: 10%;
    height: 35px;
    color: #fff;
    line-height: 35px;
    text-align: center;
    font-family: droid;
    background: #228b22;
    border: none;
}
.fb-like iframe {
    width: 200px !important;
    color: #fff;
    
}
.fb-like iframe button{
    width: 150px !important;
    
}
.fb-like iframe .pluginButtonInline {
      width: 150px !important;
    
}
.pay-box {
    float: right;
    width: 100%;
    
}
.pay-box h2 {
  text-align: right;
    border-bottom: none;
    padding-right: 0px;
}
.pay-box button {
    background: none;
    border: none;
    width: 100%;
    height: 100%;

}
.pay-box img {
    width: 90%;
    height: 150px;
    padding: 10px;
    border: 1px solid #dedede;
}
#deleveyCtrl {
    width: 90%;
    margin: 0px auto;
}
#SaveMyCart {
    width: 150px;
    height: 40px;
    line-height: 40px;
    font-family: droid;
    background: #228b22;
    color: #fff;
    border: none;
    margin: 10px 0px;
}
.fb-like-box {
    text-align: left;
}
.fb-like-box iframe {
    width: 100% !important;
    float: left;
}
.fb-like-box {
     width: 100% !important;
}
.fb-like-box span {
     width: 100% !important;
}
#approve {
    
}
#approve .cell{
    width: 11.3%;
    color: #005aab;
    margin-right:0px !important;
    line-height:30px;
    
}
#approve #table-header .cell {
      width: 12.3% !important;
}
.socend-title {
    font-weight: normal;
    padding-bottom: 10px;
    border-bottom: 1px dotted #888;
    color: #337ab7;
    text-indent: 10px;
}
.third-title {
    font-weight: normal;
    padding: 10px 20px 10px 0px;
  
    color: #685FA3;
    background: #f5f0e3;
    color: #444;

    border-bottom: 5px solid #d8d1bd;
}
.index-title {
    font-weight: normal;
    padding: 5px 20px 5px 0px;
  
  
    background:#337ab7;
    border-top: 1px #888 solid;
    color: #fff;
    font-size: 20px;

 
}
.follow-marketing {
    background: #222;
    width: 150px;
height: 40px;
line-height: 40px;
font-family: droid;
background: #228b22;
color: #fff;
border: none;
margin: 10px 0px;
    display:inline-block;
    text-align: center;
}
#admin-right{
    float:right;
}
.admin-links a{
    color:#fff;

}
.table-bottom cell{
    width:15% !important;

}
.thetitle {
    color: #dc143c;
}
#login {
    width: 65%;
    
}
#login .row{
    float: right;
    margin-top: 6px;
    
    
}
#login .row label {
    color: #fff;
    font-size: 14px;
     margin-right: 5px;
}
#login ol {
    margin-top: 0px !important;
    padding-top: 0px !important;
    overflow: hidden;
    margin-bottom: 10px;
}
#login .row input[type="text"]{
    height: 30px;
    background: #fff !important;
    margin-right: 5px;
    width: 55%;
    
}
#login .row input[type="password"]{
    height: 30px;
     margin-right: 5px;
      width: 55%;
}
#login .row input[type="submit"]{
    height: 35px;
     margin-right: 5px;
    width: 120px;
    font-family: droid;
    background:#f5f0e3;
    color: #444;
    border: none;
}
.first-menu select{
        font-family: droid;
    border: none;
    background: none;
    width: 80px;
        
    
}
#socend-menu li a {
    color: #444 !important;
    
}
.count {
    width: 100% !important;
    height: 30px;
    text-align: center;
    margin: 0px !important;
    border: none;
    
}
.footer {
    float: right;
    margin-left: 5%;
    width: 30%;
    text-align: right;


}
.footer:nth-child(3){
    margin-left: 0px !important;
}
.footer ul li {
    float: none;
    border-left: none !important;
    border-bottom: 1px dotted #dedede;
       list-style:disc;
    list-style-type: disc;
    color: orangered;
    
}
#footer #follow {
    margin-top: 0px;
    
}
#footer #follow li{
    float: right;
    display: inline !important;
    width: 20px;
    border: none;
    background: #0573ac;
    margin-left: 5px;
    text-align: center;
 
}
#footer #follow li:nth-child(1) {
    background: #ff6347;
}
#footer #follow li:nth-child(2) {
    background: #00bfff;
}
#footer #follow li:nth-child(3) {
    background: #005aab;
}
#footer #follow li a {
    color: #fff !important;
    line-height: 20px;
}
#footer-content p {
    margin-bottom: 11px;
    color: orangered;
}
#faq {
    padding-bottom: 100px;
}
#faq li{
 padding-right: 20px;
   background: #fff;
     border-bottom: 1px solid #685fa3;
     padding-bottom:20px;
}
#faq .title {
    text-align: right !important;
   
    background:none;
    border-top: none;
    border-bottom: none;
    width: 100%;
    
    border-left: none;
     color:orangered !important;
     font-weight:normal;
}
 .title a {
    
  
 }
#branchCtrl .form-group label {
    float: right;
    margin-left: 2%;
}
#branchCtrl .form-group input {
    float: right;
      height: 20px;
}
#branchCtrl .form-group {
    float: right;
    margin-left: 2%;
    width: 30%;
    margin-top: 15px;
 
}
#branchCtrl #table-header .cell {
    background: #337ab7 !important;
    
}
.address {
    width: 33%;
}
.name {
    width: 20%; 
}
#content3 h3:first-of-type {
    color: #fff !important;
    background: #e65241;
    padding: 5px;
    margin: 10px 0px;
}
#menu {
    width: 100%;

}

#menu li {
   background: #eeebbb;
    color: #444;
 position: relative;
    height: 56px;
   
    border-bottom: 1px solid #444;
    line-height: 56px;
    cursor: pointer;
   
}
#menu li a {
      color: #444;
    width: 100%;
    height: 100%;
    display: block;
    
}
#menu li a:hover {
    color: #fff;
}
#menu li:hover {
    background: #184770;
}
#menu li:hover > a{
    color: #fff !important;
    
}
#menu ul li ul {
    display: none;
       position: absolute;
    background: #eeebbb;
    right: 100%;
    top: 0px;
    z-index: 2000;

}
#menu ul li ul li {
     width: 200px;
    padding-right: 10px;

}
#menu ul li ul li ul {

}

#css3menu1 {
    width: 17.7%;
    float: right;
    height: 285px;
    background: #eeebbb;
}

ul#css3menu1,ul#css3menu1 ul{
	margin:0;list-style:none;padding:0;background-color:none;border-width:0;border-style:solid;border-color:;}
ul#css3menu1 ul{
	visibility:hidden;position:absolute;right:100%;top:0;opacity:0;-moz-transition:all 0.5s;-webkit-transition:opacity 0.5s;-o-transition:opacity 0.5s,visibility 0.5s;transition:opacity 0.5s;padding:0 0px 0px;}
ul#css3menu1 li:hover>ul{
	visibility:visible;opacity:1;}
ul#css3menu1 li{
	position:relative;display:block;white-space:nowrap;
       background: #f5f0e3;
    color: #444;
        height: 56px;
   
    border-bottom: 1px solid #444;
    line-height: 56px;
    cursor: pointer;
}
ul#css3menu1 li:hover{
	z-index:1;}
ul#css3menu1 ul ul{
	position:absolute;right:100%;top:0;}
ul#css3menu1{
    width: 100%;
	z-index:999;position:relative;display:block;float:right;padding:0 0px 0px;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;}
ul#css3menu1>li{
	margin:0px 0 0;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a{
	display:block;vertical-align:middle;text-align:right;text-decoration:none;color: #444;cursor:pointer;padding:0px 12px;font-size:14px;}
ul#css3menu1 ul li{
	float:none;margin:0px 0 0;padding: 0px 10px  0px 40px;}
ul#css3menu1 ul a{
	text-align:right;padding:7px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;font-size:14px;color:#444;text-decoration:none;}
ul#css3menu1 li:hover>a,ul#css3menu1 li a.pressed{
	border-style:none;color:#444;text-decoration:none;}
ul#css3menu1 img{
	border:none;vertical-align:middle;margin-right:7px;}
ul#css3menu1 span{
	display:block;overflow:visible;background-image:url("arrowsub.gif");background-position:right center;background-repeat:no-repeat;padding-right:20px;}
ul#css3menu1 ul span{
	background-image:url("arrowsub.gif");padding-right:12px;}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li a.pressed{
	color:#444;text-decoration:none;}

ul#css3menu1 li.topmenu:hover>a,ul#css3menu1 li.topmenu a.pressed{
	}



.adv {
    width: 90%;
    height: 305px;
    margin: 20px auto;
    border: 1px solid #dcdcdc;
}
.adv img {
    width: 90%;
    margin: 0px 5% 10px 5%;
      height: 240px;
}
.adv h3 {
    margin:10px  5% 5px  5%;
    color: #fff;
    background: orange;
    text-align: center;
    height: 40px;
}
#product-view{
    width:90%;
    margin:0px auto;

}