/************ 768px to 959px *************/
@media only screen and (max-width: 1345px) {
   .login-row {
    font-size: 50%;
       line-height: 30px;
}
   #login .row label {
        font-size: 50%;
   }
     #login .row input[type="submit"] {
      width: 60px;
  }
     #login ol {,
         padding-right: 0px;
     }
     #footer-content ul {
         width: 100%;
     }
}
@media only screen and (max-width: 1075px) {
    #header {
        height: 370px;

    }
     #header-top {
        height: 200px;
    }
     .login-row {
         float: none;
         padding-top: 10px;
         
     }
     #login .row {
         float: none;
          margin-top: 10px;
     }
}
@media only screen and (max-width: 768px){
       #header {
        height: 470px;

    }
    #logo {
        float: none;
        margin: 30px auto;
     
    }
       #logo img {
              margin-top: 20px;
       }
       #more-menu-slide {
           margin-right: 0px;
       }
.login-row {
    font-size: 50%;
}
  #login .row label {
        font-size: 50%;
   }

#nav ul li{
float:none;
border-bottom:2px solid #ffffff;
margin-left:.5%;
width:100%;
text-align:right;
}
#drop{
display:block;
    background: #337ab7;
    border-radius: 0px;
    margin: 30px auto;
    width: 90%;
}

#nav ul li a{
margin-right:2%;

}

.box5,.box4,.box3,.box2,.box1{

width:90%;
float:none;
margin:2% auto;
}

#wrap{
width:90%;

}
#nav{
display:none;
}
#nav ul{

margin:0 2% 2% 2%;

background:#FFCC33;
border-radius:5px;
    background: none;




}
}

/************ 480px to 767px *************/


@media only screen and (min-width: 480px) and (max-width: 767px){
 

#nav{
display:none;
}

#drop{
display:block;

}

#nav ul li{
float:none;

border-bottom:2px solid #3399FF;
margin-left:.5%;
width:100%;

text-align:right;


}
#nav ul li a{
margin-right:2%;

}

#nav ul li{
float:none;

}
.box5,.box4,.box3,.box2,.box1{

width:90%;
float:none;
margin:2% auto;
}

#wrap{
width:90%;

}

}


/************ 320px to 480px *************/
@media only screen and (min-width: 320px) and (max-width: 480px){
           #header {
        height: 570px;

    }

#nav{
display:none;
}

#drop{
display:block;

}

#nav ul li{
float:none;

border-bottom:2px solid #3399FF;
margin-left:.5%;
width:100%;
text-align:right;



}
#nav ul li{
float:none;

}
#nav ul li a{
margin-right:2%;

}


#wrap{
width:90%;

}

.box5,.box4,.box3,.box2,.box1{

width:90%;
float:none;
margin:2% auto;
}

}


/************ 	max-width 667px 
					Small Special Code 
 **********************************************/
@media only screen and (max-width: 667px) {
           #header {
        height: 570px;

    }

#nav{
display:none;
}

#drop{
display:block;

}

#nav ul li{
float:none;
width:80%;
border-bottom:2px solid #3399FF;
margin-left:.5%;
width:100%;
text-align:right;



}
#nav ul li{
float:none;

}
.box5,.box4,.box3,.box2,.box1{

width:90%;
float:none;
margin:2% auto;
}

#wrap{
width:90%;

}
#nav ul li a{
margin-right:2%;

}


}

